@import "base";

.banner {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100vw;
  background-color: black;
  height: 800px;
  overflow: hidden;

  img {
    width: 2000px;
  }
}

.title {
  @include font-stack(white, $regular, 80px);
  width: 500px;
  padding-top: 170px;
  margin-left: 5%;

  overflow-wrap: break-word;
}
