@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");

$pink: #ea6c92;

$regular: 400;
$bold: 700;

@mixin font-stack($color, $weight, $size) {
  font-family: "Cormorant Garamond", serif;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: 0.09em;

  color: $color;
}

@mixin default-flex {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

@mixin button {
  @include font-stack(white, $bold, 2rem);

  background-color: $pink;
  border-radius: 50px;
  border: none;
}
