@import "base";

.carousel {
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;

  .slider {
    display: flex;

    img {
      flex-shrink: 0;
      width: 100%;
      height: 800px;

      object-fit: cover;
    }
  }
}

.title {
  @include font-stack(white, $regular, 80px);
  width: 500px;
  padding-top: 170px;
  margin-left: 5%;

  overflow-wrap: break-word;
}

.carousel-selection {
  display: flex;
  width: fit-content;
  margin: auto;

  .carousel-selector {
    width: 20px;
    height: 20px;
    margin: 90px 10px 0 10px;

    border: 2px solid white;
    border-radius: 50%;

    background-color: transparent;

    transition: background-color 0.5s ease-in;
  }

  .carousel-selector:focus {
    outline: none;
    background-color: red;
  }

  :first-child {
    background-color: white;
  }
}
