@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");

body {
  margin: 0;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.subnav {
  display: flex;
}

.deals {
  width: 120px;
  height: 40px;
  background-color: #050d54;
  border-radius: 50px;
  border: none;

  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.09em;
  text-align: center;

  color: #ffffff;
}

.banner {
  width: 100%;
  height: 800px;
  background-image: url("/Banner images/Food Banner.jpg");
  background-size: cover;
  background-position: center;
}
