@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

$pink: #ea6c92;

$regular: 400;
$bold: 700;

@mixin font-stack($color, $weight, $size) {
  font-family: "Cormorant Garamond", serif;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: 0.09em;

  color: $color;
}

@mixin default-flex {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

@mixin button {
  @include font-stack(white, $regular, 1.3rem);

  width: fit-content;
  padding: 0 30px 0 30px;

  background-color: $pink;
  border-radius: 50px;
  border: none;

  transition: background-color 0.15s, width 0.5s, opacity 0.5s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: #f51058
  }
}
