.recipes {
    h1 {
        @include font-stack(black, $regular, 5vw);
        padding-top: 100px;
        margin-left: 5%;
    }
    &__title {
        @include font-stack(black, $regular, 120%);

        display: flex;
        align-items: center;
        width: 400px;
        margin-left: 5.2%;

        justify-content: space-between;
        hr {
            width: 16vw;
            border: 2px solid #000000;
        }
        img {
            transform: translate(-2px, 1.2px)
        }
    }

    &__carousel { 
        display: flex;
        width: 95%;
        margin: 50 0 0 2%;
        justify-content: center;
        .container {
            width: 84vw;
            overflow: hidden;
            .recipe-slider {
                display: flex;

                transition: transform 1s;
                .recipe {
                    width: fit-content;
                    margin: 25px;
                    img {
                        width: 250px;
                        border-radius: 50%;
                    }
                }
            }
        }

        .recipe-carousel-arrow{
            transition: 0.5s;

            &:last-child {
                transform: rotate(180deg);
                &:hover {
                    transform: rotate(180deg) scale(1.2);
                }
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
