.recipes {
    h1 {
        @include font-stack(black, $regular, 5vw);
        padding-top: 100px;
        margin-left: 5%;
    }
    &__title {
        @include font-stack(black, $regular, 120%);

        display: flex;
        align-items: center;
        width: 400px;
        margin-left: 5.2%;

        justify-content: space-between;
        hr {
            width: 16vw;
            border: 2px solid #000000;
        }
        img {
            transform: translate(-2px, 1.2px)
        }
    }

    &__carousel {
        width: 84%;
        overflow: hidden;
        margin: 50px 0 0 110px;
        .slider {
            display: flex;
            .recipe {
                width: fit-content;
                margin: 25px;
                img {
                    width: 250px;
                    border-radius: 50%;
                }
            }
        }
    }
}