.top5 {
    background-color: #a8af86;
    height: 1500px;
    margin-top: 70px;


    h1 {
        @include font-stack(black, $regular, 5vw);
        padding-top: 100px;
        margin-left: 5%;
    }

    hr {
        width: 40%;
        margin: 10px 0 0 5.5%;
        border: 2px solid black;
    }
    div {
        margin: 50px 5.5% 0 5.5%;

        display: flex;
        justify-content: space-between;
        img {
            width: 220px;
            height: 300px;
            object-fit: cover;
      
            filter: brightness(2);
            margin: none;
        }
    }  
}
