* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 2;
}

@import "base";
@import "nav";
@import "carousel";
@import "categories";
@import "top5";
@import "feature";
@import "recipes";
@import "latest";



body {
  background-color: beige;
}

button:focus {
  outline: none;
}

.view-more {
  @include font-stack(black, $regular, 120%);

  display: flex;
  align-items: center;
  width: 400px;
  margin-left: 5.2%;

  justify-content: space-between;
  hr {
      width: 16vw;
      border: 2px solid #000000;
  }
  img {
      transform: translate(-2px, 1.2px)
  }
}
