{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fork + Spoon</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>
<body>
    <nav id="nav">
        <div>
            <img src="{{navbar.logo.url}}" id="logo-image">
            <img src="{{navbar.logo_text.url}}" id="logo-description">
        </div>
        <ul id="linkList">
            <li><a href="">{{navbar.link_1}}</a></li>
            <li><a href="">{{navbar.link_2}}</a></li>
            <li><a href="">{{navbar.link_3}}</a></li>
            <li><a href="">{{navbar.link_4}}</a></li>
            <li><a href="">{{navbar.link_5}}</a></li>
            <li><a href="">{{navbar.link_6}}</a></li>
        </ul>
        <button onclick="test()">{{navbar.button_text}}</button>
    </nav>

    <div class="carousel">
        <div class="slider">
            {% for slide in slides %}
            <img src="{{slide.slide.url}}">
            {% endfor %}
            <img src="{{ slides.first.slide.url }}" alt="">
        </div>
    </div>

    <h1 class="title">{{ title }}</h1>
    <div class="banner-buttons">
        {% for slide in slides %}
        <button class="banner-button">{{slide.button_text}}</button>
        {% endfor %}
    </div>
    
    <div class="carousel-selection">
        <button class="carousel-selector" onclick="SelectBanner(this)"></button>
    </div>


    <div class="categories">
        {% for category in categories %}
        <div>
            <img src="{{category.image.url}}" alt="">
            <h1>{{category.category_name}}</h1>
            <hr>
            <p>{{category.category_description}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="top5">.
        <h1>TOP 5 PORTUGUESE</h1>
        <hr>
        <div>
            <img src="/Images/Food Banner.jpg">
            <img src="/Images/Drink Banner.jpg">
            <img src="/Images/Food Banner 3.jpg">
            <img src="/Images/Drink Banner.jpg">
            <img src="/Images/Food Banner.jpg">
        </div>
        <h1>TOP 5 JAPANESE</h1>
        <hr>
    </div>

    <script src="{% static 'home/script/blackenNav.js' %}"></script>
    <script src="{% static 'home/script/Carousel.js' %}"></script
</body>
</html>