{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fork + Spoon</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>
<body>
    <nav id="nav">
        <div>
            <img src="{{navbar.logo.url}}" id="logo-image">
            <img src="{{navbar.logo_text.url}}" id="logo-description">
        </div>
        <ul id="linkList">
            <li><a href="">{{navbar.link_1}}</a></li>
            <li><a href="">{{navbar.link_2}}</a></li>
            <li><a href="">{{navbar.link_3}}</a></li>
            <li><a href="">{{navbar.link_4}}</a></li>
            <li><a href="">{{navbar.link_5}}</a></li>
            <li><a href="">{{navbar.link_6}}</a></li>
        </ul>
        <button onclick="test()">{{navbar.button_text}}</button>
    </nav>

    <div class="carousel">
        <div class="slider">
            {% for slide in slides %}
            <img src="{{slide.slide.url}}">
            {% endfor %}
            <img src="{{ slides.first.slide.url }}" alt="">
        </div>
    </div>

    <h1 class="title">{{ title }}</h1>
    <div class="banner-buttons">
        {% for slide in slides %}
        <button class="banner-button">{{slide.button_text}}</button>
        {% endfor %}
    </div>
    
    <div class="carousel-selection">
        <button class="carousel-selector" onclick="SelectBanner(this)"></button>
    </div>


    <div class="categories">
        {% for category in categories %}
        <div>
            <img src="{{category.image.url}}" alt="">
            <h1>{{category.category_name}}</h1>
            <hr>
            <p>{{category.category_description}}</p>
        </div>
        {% endfor %}
    </div>
        <div class="top5">
            <h1>TOP 5 {{top5.first.Top_5}}</h1>
            <hr>
            <div class="main-top5">
                {% for dish in top5.first.top_set.all %}
                <img src="{{dish.image.url}}">
                {% endfor %}
            </div>

            <div class="example">
                <img src="{{example.image.url}}">
                <div></div>
                <p>Limited &nbsp &nbsp &nbsp &nbsp time deals</p>
            </div>

            <div class="sub-top5">
                {% for Top5 in top5 %}
                <div class="top-link">
                    <img src="{{Top5.post_set.first.image.url}}" alt="">
                    <div class="top-link__description">
                        <h3>{{Top5.Top_5}}</h3>
                        <p>{{Top5.create_links}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="featured-chef">
            <img src="{{featured_chef.image.url}}" alt="">
            <div></div>
            <h1>{{featured_chef.title}}</h1>
        </div>
        <div class="subfeatures">
            <div class="featured-FandB">
                <img src="{{featured_FandB.image.url}}" alt="">
                <h1>{{featured_FandB.title}}</h1>
                <hr>
                <p>{{featured_FandB.description}}</p>
            </div>
            <div class="featured-FandB">
                <img src="{{featured_FandB.image.url}}" alt="">
                <h1>{{featured_FandB.title}}</h1>
                <hr>
                <p>{{featured_FandB.description}}</p>
            </div>
        </div>
    </div>
    <div class="recipes">
        <h1>RECIPES</h1>
        <div class="view-more">
            <hr>
            <small>View all recipes</small>
            <img src="{% static 'home/images/arrow1.svg' %}" >
        </div>
        <div class="recipes__carousel">
            <img class="recipe-carousel-arrow" onclick='slideRecipe(-1)' src="{% static 'home/images/arrow2.svg' %}" alt="">
            <div class="container">
                <div class="recipe-slider">
                    {% for recipe in recipes %}
                        <div class="recipe">
                            <img src="{{recipe.image.url}}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <img class="recipe-carousel-arrow" onclick='slideRecipe(1)' src="{% static 'home/images/arrow2.svg' %}" alt="">
        </div>
    </div>
    <div class="latest-posts">
        <h1>Latest Posts</h1>
        <div class="view-more">
            <hr>
            <small>View all recipes</small>
            <img src="{% static 'home/images/arrow1.svg' %}" >
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        Sushi dish thing something
                        <br>
                        <small>Lorem ipsum dolor sit amet, consectetur </small>
                    </td>
                    <td>
                        Sushi dish thing something
                        <br>
                        <small>Lorem ipsum dolor sit amet, consectetur </small>
                    </td>
                </tr>
                <tr>
                    <td class="last-row-data">
                        Sushi dish thing something
                        <br>
                        <small>Lorem ipsum dolor sit amet, consectetur </small>
                    </td>
                    <td class="last-row-data">
                        Sushi dish thing something
                        <br>
                        <small>Lorem ipsum dolor sit amet, consectetur </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        document.body.innerHTML = document.body.innerHTML.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&#x27;/g, "/")
    </script>
    <script src="{% static 'home/script/blackenNav.js' %}"></script>
    <script src="{% static 'home/script/Carousel.js' %}"></script>
    <script src="{% static 'home/script/recipeCarousel.js' %}"></script>
</body>
</html>