{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <title>Fork and Spoon</title>
</head>
<body>
    <div class="carousel">
        <div class="slider">
            {% for slide in slides %}
            <img src="{{slide.slide.url}}">
            {% endfor %}
        </div>
    </div>
</body>
</html>